{% extends 'layout.html' %}

{% block content %}
    
    {% load static %} 
    <header class="row bg-black">
        <div class="col-md-4">
            <img src="{% static 'portfolio/profile.JPG' %}" width="360" height="360" alt="profile">
        </div>
        <div class="col-md-8 my-auto">
            <h1>I am <strong>Adolfo Betin</strong></h1>
            <h3>I am a Backend developer</h3>
            <p>I am passionate about backend development and creating efficient and scalable solutions. I have experience working with Django and PostgreSQL, developing robust APIs and efficient systems to manage data securely and structurally.</p>
            <p>I specialize in designing and implementing optimized backend architectures, integrating AWS for deployment and scalability. I enjoy solving complex problems and building software that positively impacts users.</p>
            <a href="{% static 'portfolio/cv.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">Download CV</a>
        </div>

    </header>
    
<div class="row my-4 text-center">
    <h3>My projects</h3>

    {% for project in projects %}
        <div class="col-md-4 p-4">
            <div class="card bg-black card-project">
                <img src="{{ project.image.url }}" alt="{{project.title}}" class="card-img-top">
                <div class="card-body text-light">
                    <h2>{{ project.title }}</h2>
                    <p>{{ project.description }}</p>
                    
                    {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}

</div>
    